.delete-icon {
    color: #C00;
    cursor: pointer;
}

.refresh-icon {
    cursor: pointer;
}

.no-alias {
    font-style: italic;
}
.cell-refresh {
    text-align: center;
    vertical-align: middle;
}
.cell-rate {
    text-align: right;
}